.header {
  display: flex;
  height: 4rem;
  padding: 0.5em 1em;
  /* background: #000; */
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.img {
  margin-right: 0.2em;
}

.title {
  height: 100%;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
  border: 0.5px solid #373737;
  background-color: #202020;
}

.button {
  background-color: #a9a9a9;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
